# Redirect non-www to www
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^diogonunes.com [NC]
RewriteRule ^(.*)$ http://www.diogonunes.com/$1 [L,R=301]
RewriteEngine On
RewriteCond %{HTTP_HOST} ^diogonunes.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.diogonunes.com$


# Redirect shortcuts
Redirect /sobremim      /sobre-mim
Redirect /sobre         /sobre-mim
Redirect /work/dcid     /work/code4pt
Redirect /fotos/eventos https://www.flickr.com/photos/diogo_nunes/sets/72157651738011431/
Redirect /fotos         https://www.flickr.com/photos/diogo_nunes/
Redirect /photos        https://www.flickr.com/photos/diogo_nunes/
Redirect /foto          /fotografia


# Redirect deprecated pages
Redirect /jcdp                            /work/jcdp
Redirect /livros                          /escrita
Redirect /acerca                          /sobre-mim
Redirect /code4pt                         /work/code4pt
Redirect /devfestportugal                 /work/googleearthtypewriter
Redirect /it/work/jcdp                    /work/jcdp
Redirect /it/work/googleearthtypewriter   /work/googleearthtypewriter
Redirect /escrita/artigos/minecraft-a-game-as-a-metaphor-of-life.html /blog/minecraft-a-game-as-a-metaphor-of-life/
Redirect /escrita/artigos/estudante-excelente.html                    /blog/o-que-e-preciso-para-ser-um-estudante-excelente/


# Redirect english pages
Redirect /aboutme   /en/about
Redirect /about     /en/about
Redirect /en/work   /work
Redirect /writing   /en/writing
Redirect /photo     /en/photography
Redirect /books     /en/writing

# Disables folder's listing
Options -Indexes

# Enable gzip compression
SetOutputFilter DEFLATE

# Redirect errors
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php


# Run PHP code on .HMTL files
<IfModule mod_fcgid.c>
AddHandler fcgid-script .php5 .php4 .php .php3 .php2 .phtml .htm .html
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .php5
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .php4
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .php
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .php3
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .php2
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .phtml
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .html
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .htm
</IfModule>
