# Redirect all http to https (SSL)
RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^ https://www.%1%{REQUEST_URI} [L,NE,R=301]

# Redirect shortcuts
Redirect /achievs                   /achievements.html
Redirect /books                     /livros
Redirect /blog/author/diogo-nunes/  /#about
Redirect /fotos/viagens             https://www.flickr.com/photos/diogo_nunes/sets/72157657665899606/
Redirect /fotos/retratos            https://www.flickr.com/photos/diogo_nunes/sets/72157649496353512/
Redirect /fotos/eventos             https://www.flickr.com/photos/diogo_nunes/sets/72157651738011431/
Redirect /fotos                     https://www.flickr.com/photos/diogo_nunes/sets/
Redirect /photos                    https://www.flickr.com/photos/diogo_nunes/sets/
Redirect /purpose                   https://leanpub.com/purpose
Redirect /testing                   https://dialex.github.io/start-testing/#/
Redirect /test                      https://dialex.github.io/start-testing/#/

# Redirect deprecated pages
Redirect /blog/conselhos-licen-eng-informatica-leic-ist/            https://www.estudarinformatica.info/
Redirect /blog/o-que-e-preciso-para-ser-um-estudante-excelente/     https://www.estudarinformatica.info/
Redirect /escrita/artigos/conselhos-cadeiras-leic.html              https://www.estudarinformatica.info/
Redirect /escrita/artigos/estudante-excelente.html                  https://www.estudarinformatica.info/
Redirect /it/work/jcdp  /#work
Redirect /jcdp          /#work
Redirect /foto          /#hobbies


# Disables folder's listing
Options -Indexes

# Enable gzip compression
SetOutputFilter DEFLATE

# Redirect errors
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 405 /error.php
ErrorDocument 408 /error.php
ErrorDocument 500 /error.php
ErrorDocument 502 /error.php
ErrorDocument 504 /error.php

# Run PHP code on .HMTL files
<IfModule mod_fcgid.c>
# AddHandler fcgid-script .php5 .php4 .php .php3 .php2 .phtml .htm .html
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .php5
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .php4
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .php
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .php3
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .php2
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .phtml
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .html
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .htm
</IfModule>
