# Redirect non-www to www
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^diogonunes.com [NC]
RewriteRule ^(.*)$ http://www.diogonunes.com/$1 [L,R=301]
RewriteEngine On
RewriteCond %{HTTP_HOST} ^diogonunes.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.diogonunes.com$


# Redirect shortcuts
Redirect /blog/author/diogo-nunes/  /#about
Redirect /fotos/viagens             https://www.flickr.com/photos/diogo_nunes/sets/72157651738011431/
Redirect /fotos/retratos            https://www.flickr.com/photos/diogo_nunes/sets/72157649496353512/
Redirect /fotos/eventos             https://www.flickr.com/photos/diogo_nunes/sets/72157651738011431/
Redirect /fotos                     https://www.flickr.com/photos/diogo_nunes/sets/
Redirect /photos                    https://www.flickr.com/photos/diogo_nunes/sets/

# Redirect deprecated pages
Redirect /escrita/artigos/conselhos-cadeiras-leic.html  /blog/conselhos-licen-eng-informatica-leic-ist/
Redirect /escrita/artigos/estudante-excelente.html      /blog/o-que-e-preciso-para-ser-um-estudante-excelente/
Redirect /it/work/jcdp  /#work
Redirect /jcdp          /#work
Redirect /foto          /#hobbies


# (DELETE THIS) Redirect shortcuts (DELETE THIS on Dec15)
Redirect /work/dcid     /#work
Redirect /code4pt       /#work
Redirect /en/work       /#work
Redirect /aboutme       /#about
Redirect /about         /#about
Redirect /sobremim      /#about
Redirect /sobre         /#about
Redirect /acerca        /#about
Redirect /writing       /#hobbies
Redirect /photo         /#hobbies
Redirect /books         /#hobbies
# (DELETE THIS) Redirect shortcuts (DELETE THIS on Dec15)


# Disables folder's listing
Options -Indexes

# Enable gzip compression
SetOutputFilter DEFLATE

# Redirect errors
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php


# Run PHP code on .HMTL files
<IfModule mod_fcgid.c>
AddHandler fcgid-script .php5 .php4 .php .php3 .php2 .phtml .htm .html
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .php5
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .php4
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .php
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .php3
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .php2
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .phtml
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .html
FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .htm
</IfModule>
