/* ==== MASONRY ==== */

/**** Transitions ****/
.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}

/**** Clearfix ****/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/**** Custom ****/
#gallery p, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
    margin-left: 15px;
}
.box {
  background: #222;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  float: left;
}
.img {
  display: block;
  background: #444;
}
/** max width **/
.w-small { width: 80px; }
.w-medium { width: 180px; }
.w-large { width: 280px; }
.w-xlarge { width: 380px; }
.w-xxlarge { width: 480px; }
.w-xxxhuge { width: 1920px; }
.w-full { width: 98%; }